---
layout: default
title: About
permalink: /about/
---
<link rel="stylesheet" href="{{"/assets/css/partners.css" | absolute_url}}">

<h1 style="text-align: center">Founders</h1>
<br>

<ul class="topfounders">
{% for partner in site.partners %}
{% if partner.stick %}
<li>
    <a href="{{ partner.url | prepend: site.baseurl }}">
        <div class="img">
            <img class="orig" width="230" height="230" src="{{ partner.picture }}">
        </div>
    </a>
    <div class="info">
        <a href="{{ partner.url | prepend: site.baseurl }}">
            <span class="title">{{ partner.name }}</span>
            <span class="role">{{ partner.role }}</span>
            <span class="desc">{{ partner.content | strip_html | slice: 0, 140 }}...</span>
            <span class="more">+ More</span>
        </a>
    </div>
</li>
{% endif %}
{% endfor %}
</ul>

<ul class="founders">
{% for partner in site.partners %}
{% unless partner.stick %}
{% endunless %}
{% endfor %}
</ul>