---
layout: default
title: About
permalink: /about/
---
<h1 style="text-align: center">Founders</h1>
<br>

<ul class="topfounders">
{% for partner in site.partners %}
{% if partner.stick %}
<li>
    <a href="{{ partner.url | prepend: site.baseurl }}">
        <div class="img">
            <img class="orig" width="230" height="230" src="{{ partner.picture }}">
        </div>
    </a>
    <div class="info">
        <a href="{{ partner.url | prepend: site.baseurl }}">
            <span class="title">{{ partner.name }}</span>
            <span class="role">{{ partner.role }}</span>
            <span class="desc">{{ partner.content | strip_html | slice: 0, 140 }}...</span>
            <span class="more">+ More</span>
        </a>
    </div>
</li>
{% endif %}
{% endfor %}
</ul>

<ul class="founders">
{% for partner in site.partners %}
{% unless partner.stick %}
<li>
    <a href="{{ partner.url | prepend: site.baseurl }}">
        <div class="img">
            <img class="orig" width="197" height="197" src="{{ partner.picture }}">
        </div>
    </a>
    <div class="info">
        <a href="{{ partner.url | prepend: site.baseurl }}">
            <span class="title">{{ partner.name }}</span>
            <span class="role">{{ partner.role }}</span>
            <span class="desc">{{ partner.content | strip_html | slice: 0, 70 }}...</span>
            <span class="more">+ More</span>
        </a>
    </div>
</li>
{% endunless %}
{% endfor %}
</ul>

<script>
    const ext_over = '__.jpg';
    const ext_out = '.jpg';
    const imgs = document.getElementsByTagName('img');
    for (const el of imgs) {
        el.onmouseover = () => {
            el.src = el.src.replace(ext_out, ext_over);
        };
        el.onmouseout = () => {
            el.src = el.src.replace(ext_over, ext_out);
        };
    }
</script>